.col-md-6.col-md-offset-3
  .row
    .panel.panel-default
      .panel-heading
        %h1 Edit Pin
      .panel-body
        = image_tag @pin.image.url (:medium)
        %br/
        %strong.center Current Image
        = render 'form'
      .panel-footer
        = link_to "Cancel", pin_path, class: "btn btn-default"
